{% extends 'base.html.twig' %}

{% block body %}
    {% if articles %}
        <table  class="table table-striped">
            <thead>
            <tr>
                <th>Стаття</th>
                <th>Опис</th>
                <th>Автор</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>
                        <a href="/article/{{ article.id }}"> {{ article.name }} </a>
                    </td>
                    <td> {{ article.text }} </td>
                    <td> {{ article.updateAt|date('Y-m-d H:i') }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Статей не знайдено</p>
    {% endif %}
{% endblock %}